* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-weight: bolder;
}

html {
    height: 100%;
}

body {
    height: 100%;
    display: flex;
    flex-flow: column;
}

#controls {
    display: flex;
    justify-content: space-between;
    padding: .5rem;

}

#controls > * {
    /* border: 1px solid red; */
}

img {
    /* height: 50%; */
    width: 10%;
}

#word-count {
    font-size: 2rem;
    min-width: 4.5rem;
}

#content {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    flex: 1;
}

#guess-area {
    flex: 1;
    display: flex;
    flex-flow: column;
    justify-content: center;
    padding: 1rem;
    gap: .5rem;
}

.guess-area-row {
    display: flex;
    justify-content: space-between;
    gap: .5rem;
}

.guess-area-tile {
    border: solid 1px black;
    min-width: 4rem;
    min-height: 4rem;
    text-align: center;
    justify-content: center;
    font-size: 3rem;
}

#letter-bank {
    display: flex;
    flex-flow: column;
    padding: .5rem;
    gap: .5rem;
}

.letter-bank-row {
    display: flex;
    justify-content: center;
    gap: .5rem;
}

.letter-bank-tile {
    padding: 1rem .5rem;
}

.not-in {
    background-color: darkgrey;    
}

.misplaced {
    background-color: yellow;    
}

.correct {
    background-color: green;    
}

footer {
    background-color: gray;
    padding: .25%;
}

a {
    color: white;
    text-decoration: none;
    text-align: center;
}

.word-div {
    /* border: 1px solid blue; */
    width: 20%;
}

.word {
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
}

.word:hover,
.word:focus {
  background-color: #5cb85c;
  text-decoration: none;
  cursor: pointer;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    font-size: 1.5rem;
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

.modal-body {
    padding: 2px 16px;
    display: flex;
    flex-wrap: wrap;
    max-height: 75vh;
    overflow: auto;
}

.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}